@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #30333F;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.settingtitle{
    position: absolute;
    width: 201px;
    height: 75px;
    left: 34px;
    top: 161px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */


    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.changeborder{
    position: absolute;
    width: 108px;
    height: 107px;
    left: 300px;
    top: 254px;

    background: #E2E2E2;
    border-radius: 30px;
}
.imgset{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
    top: 25px;

}
.imgset2{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 65px;
    top: 50px;
}
.changetext{
    position: absolute;
    width: 122px;
    height: 54px;
    left: -5px;
    top: 110px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #D68E8E;
}

.fileInput{
    width: 400.05px;
    height: 40.37px;
    left: 63px;
    top: 500px;
}

.nametitle{
    position: absolute;
    width: 139.05px;
    height: 40.37px;
    left: 63px;
    top: 453px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;

    color: rgba(255, 255, 255, 0.85);
    
}
.thename{
    position: absolute;
    width: 178.53px;
    height: 40.37px;
    left: 63px;
    top: 493.37px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    
    color: #FFFFFF;
}
.emailtitle{
    position: absolute;
    width: 139.05px;
    height: 40.37px;
    left: 63px;
    top: 550px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    
    color: rgba(255, 255, 255, 0.85);
    
}
.emailname{
    position: absolute;
    width: 231px;
    height: 38px;
    left: 63px;
    top: 590.37px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */


    color: #FFFFFF;
}
.passwordtitle{
    position: absolute;
    width: 139.05px;
    height: 40.37px;
    left: 63px;
    top: 651px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    
    color: rgba(255, 255, 255, 0.85);
    
}
.passwordname{
    position: absolute;
    width: 168px;
    height: 38px;
    left: 63px;
    top: 691.37px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.changetitle{
    position: absolute;
    width: 90.61px;
    height: 34.09px;
    left: 10.84px;
    top: 8.58px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

    color: #FFFFFF;
}
.pencil{
    position: absolute;
    width: 27.81px;
    height: 27.81px;
    left: 105.84px;
    top: 8.58px;
}
.border{
    position: absolute;
    width: 155.2px;
    height: 50.24px;
    left: 1000.8px;
    top: 450.5px;
    
    background: #647593;
    border-radius: 15px;
}
.line{
    border: 1px solid #FFFFFF;
    position: absolute;
    width: 525.71px;
    height: 0px;
    left: 65.69px;
    top: 533.74px;
}
.line2{
    position: absolute;
    width: 525.71px;
    height: 0px;
    left: 65.69px;
    top: 630.74px;
    
    border: 1px solid #FFFFFF;
}
.line3{
    position: absolute;
    width: 525.71px;
    height: 0px;
    left: 65.69px;
    top: 731.74px;
    
    border: 1px solid #FFFFFF;
}
.deleteacc{
    position: absolute;
    width: 258px;
    height: 39px;
    left: 44px;
    top: 830px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-decoration-line: underline;

    color: #FF6F6F;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Settings CSS*/
    .settingtitle{
      position: absolute;
      width: 201px;
      height: 75px;
      left: 34px;
      top: 161px;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 75px;
      /* identical to box height */


      color: #FFFFFF;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .changeborder{
      position: absolute;
      width: 108px;
      height: 107px;
      left: 300px;
      top: 254px;

      background: #E2E2E2;
      border-radius: 30px;
    }
    .imgset{
      position: absolute;
      width: 50px;
      height: 50px;
      left: 30px;
      top: 25px;

    }
    .imgset2{
      position: absolute;
      width: 31px;
      height: 31px;
      left: 65px;
      top: 50px;
    }
    .changetext{
      position: absolute;
      width: 122px;
      height: 54px;
      left: -5px;
      top: 110px;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;

      color: #D68E8E;
    }

    .fileInput{
      width: 400.05px;
      height: 40.37px;
      left: 63px;
      top: 500px;
    }

    .nametitle{
      position: absolute;
      width: 139.05px;
      height: 40.37px;
      left: 63px;
      top: 453px;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;

      color: rgba(255, 255, 255, 0.85);
      
    }
    .thename{
      position: absolute;
      width: 178.53px;
      height: 40.37px;
      left: 63px;
      top: 493.37px;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      
      color: #FFFFFF;
    }
    .emailtitle{
      position: absolute;
      width: 139.05px;
      height: 40.37px;
      left: 63px;
      top: 550px;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      
      color: rgba(255, 255, 255, 0.85);
      
    }
    .emailname{
      position: absolute;
      width: 231px;
      height: 38px;
      left: 63px;
      top: 590.37px;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      /* identical to box height */


      color: #FFFFFF;
    }
    .passwordtitle{
      position: absolute;
      width: 139.05px;
      height: 40.37px;
      left: 63px;
      top: 651px;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      
      color: rgba(255, 255, 255, 0.85);
      
    }
    .passwordname{
      position: absolute;
      width: 168px;
      height: 38px;
      left: 63px;
      top: 691.37px;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      /* identical to box height */
      
      
      color: #FFFFFF;
    }
    .changetitle{
      position: absolute;
      width: 90.61px;
      height: 34.09px;
      left: 10.84px;
      top: 8.58px;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 33px;

      color: #FFFFFF;
    }
    .pencil{
      position: absolute;
      width: 27.81px;
      height: 27.81px;
      left: 105.84px;
      top: 8.58px;
    }
    .border{
      position: absolute;
      width: 155.2px;
      height: 50.24px;
      left: 1000.8px;
      top: 450.5px;
      
      background: #647593;
      border-radius: 15px;
    }
    .line{
      border: 1px solid #FFFFFF;
      position: absolute;
      width: 525.71px;
      height: 0px;
      left: 65.69px;
      top: 533.74px;
    }
    .line2{
      position: absolute;
      width: 525.71px;
      height: 0px;
      left: 65.69px;
      top: 630.74px;
      
      border: 1px solid #FFFFFF;
    }
    .line3{
      position: absolute;
      width: 525.71px;
      height: 0px;
      left: 65.69px;
      top: 731.74px;
      
      border: 1px solid #FFFFFF;
    }
    .deleteacc{
      position: absolute;
      width: 258px;
      height: 39px;
      left: 44px;
      top: 830px;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      text-decoration-line: underline;

      color: #FF6F6F;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

/* Singlepost CSS*/
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  }

.singlePostWrapper {
  box-sizing: border-box;
  position: absolute;
  width: 605.54px;
  height: 700.76px;
  left: 52px;
  top: 300.54px;

  background: radial-gradient(100.05% 150.21% at -8.43% -6.36%, rgba(196, 196, 196, 0.25) 0%, rgba(196, 196, 196, 0) 50%) 
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: drop-shadow(30px 30px 60px rgba(255, 255, 255, 0.04));
  backdrop-filter: blur(13.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
}


.singlePostImg {
  position: absolute;
  width: 424.29px;
  height: 170.75px;
  left: 75.76px;
  top: 30.36px;

  border-radius: 20px;
}

.singlePostTitle {
  position: absolute;
  width: 285.17px;
  height: 44.89px;
  left: 145.3px;
  top: 250.79px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.singlePostDesc {
  position: absolute;
  width: 333.57px;
  height: 283.41px;
  left: 116.25px;
  top: 300.17px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #FFFFFF;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
